/venv/
/.idea/
*.log
*.driveupload
/tmp/
/.tmp.drivedownload/
main.py
__pycache__
/build/
/*.egg-info/
/tests/tests_results/
/sphinx/_build/
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
/dist/
.env
.vscode
