CONF_MP_CORE_HOSTNAME="10.0.0.1"
CONF_MP_SIEM_HOSTNAME="10.0.0.1"
CONF_MP_STORAGE_HOSTNAME="10.0.0.1"
CONF_MP_AGENT_HOSTNAME="10.0.0.1"
CONF_MP_LOGIN="Administrator"
CONF_MP_PASSWORD="P@ssw0rd"
CONF_WEB_PORT=9220
CONF_LOGLEVEL="INFO"
CONF_CORE=true
CONF_SIEM=true
CONF_STORAGE=true
CONF_AGENT=false
